[Desktop Entry]
Version=1.0
Type=Application
Name=SmashDeck
GenericName=RF & Wireless Analysis
Comment=Double-click to install or open SmashDeck (no terminal)
Exec=./smashdeck-media-start
TryExec=./smashdeck-media-start
Terminal=false
Categories=Network;
Keywords=SDR;Pentest;Kismet;WiFi;Bluetooth;RF;SmashDeck;
StartupNotify=true
Icon=network-wireless
